name: Pages

on:
  push:
    branches:
      - main
    paths:
      - docs/**
      - .github/workflows/documentation.yml
      - fast_depends/__about__.py

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - uses: actions/cache@v4
        with:
          key: ${{ github.ref }}
          path: .cache
      - run: pip install -r requirements.docs.txt
      - working-directory: ./docs
        run: mkdocs gh-deploy --force